USE [master]
GO
/****** Object:  Database [Library]    Script Date: 5/27/2024 7:36:23 PM ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  User [IsaX0102]    Script Date: 5/27/2024 7:36:23 PM ******/
CREATE USER [IsaX0102] FOR LOGIN [IsaX0102] WITH DEFAULT_SCHEMA=[dbo]
GO
USE [Library]
GO
/****** Object:  Sequence [dbo].[books_seq]    Script Date: 5/27/2024 7:36:23 PM ******/
CREATE SEQUENCE [dbo].[books_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [Library]
GO
/****** Object:  Sequence [dbo].[loans_seq]    Script Date: 5/27/2024 7:36:23 PM ******/
CREATE SEQUENCE [dbo].[loans_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [Library]
GO
/****** Object:  Sequence [dbo].[users_seq]    Script Date: 5/27/2024 7:36:23 PM ******/
CREATE SEQUENCE [dbo].[users_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[Books]    Script Date: 5/27/2024 7:36:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[book_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[author] [varchar](255) NOT NULL,
	[release_date] [date] NULL,
	[genre] [varchar](50) NULL,
	[language] [varchar](50) NULL,
	[qty] [int] NULL,
	[status] [varchar](20) NULL,
 CONSTRAINT [PK__Books__490D1AE18DC0A735] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Book]    Script Date: 5/27/2024 7:36:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Book](
	[loan_book_id] [int] NOT NULL,
	[loan_id] [int] NULL,
	[book_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_User]    Script Date: 5/27/2024 7:36:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_User](
	[loan_user_id] [int] NOT NULL,
	[loan_id] [int] NULL,
	[user_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 5/27/2024 7:36:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[loan_id] [int] NOT NULL,
	[loan_date] [date] NULL,
	[return_date] [date] NULL,
	[real_return_date] [date] NULL,
	[status] [varchar](20) NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NULL,
 CONSTRAINT [PK__Loans__A1F79554CA512EDC] PRIMARY KEY CLUSTERED 
(
	[loan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/27/2024 7:36:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] NOT NULL,
	[first_name] [varchar](100) NOT NULL,
	[last_name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[address] [varchar](255) NULL,
	[role] [varchar](50) NULL,
	[profile_picture] [varchar](255) NULL,
	[status] [varchar](20) NULL,
 CONSTRAINT [PK__Users__B9BE370FA8811B30] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Books] ([book_id], [title], [author], [release_date], [genre], [language], [qty], [status]) VALUES (3, N'Test Title', N'Test Author', CAST(N'2000-09-07' AS Date), N'Romance', N'English', 23, N'Available')
INSERT [dbo].[Books] ([book_id], [title], [author], [release_date], [genre], [language], [qty], [status]) VALUES (7, N'Test Title 2', N'Test Author ', CAST(N'2000-08-06' AS Date), N'Historical Fiction', N'English', 12, N'Available')
INSERT [dbo].[Books] ([book_id], [title], [author], [release_date], [genre], [language], [qty], [status]) VALUES (8, N'Test Title 3', N'Test Author 3', CAST(N'2001-06-06' AS Date), N'Fantasy', N'English', 2, N'Available')
GO
INSERT [dbo].[Loans] ([loan_id], [loan_date], [return_date], [real_return_date], [status], [user_id], [book_id]) VALUES (53, CAST(N'2000-05-01' AS Date), CAST(N'2000-05-03' AS Date), CAST(N'2000-05-04' AS Date), N'Returned', 152, 3)
INSERT [dbo].[Loans] ([loan_id], [loan_date], [return_date], [real_return_date], [status], [user_id], [book_id]) VALUES (102, CAST(N'2024-06-07' AS Date), CAST(N'2024-06-08' AS Date), NULL, N'On Loan', 152, 7)
GO
INSERT [dbo].[Users] ([user_id], [first_name], [last_name], [email], [password], [address], [role], [profile_picture], [status]) VALUES (152, N'Isaias', N'Badia', N'isaiaybadia@gmail.com', N'$2a$10$wT/HZNSp2PVGMSBv7AV0BesFXQSC3dbz6JoBbEZNC3mnCnbuztWKq', N'Moca', N'Admin', N'', N'Active')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164B061E1F9]    Script Date: 5/27/2024 7:36:23 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__AB6E6164B061E1F9] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Loan_Book]  WITH CHECK ADD  CONSTRAINT [FK__Loan_Book__book___3E52440B] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Loan_Book] CHECK CONSTRAINT [FK__Loan_Book__book___3E52440B]
GO
ALTER TABLE [dbo].[Loan_Book]  WITH CHECK ADD  CONSTRAINT [FK__Loan_Book__loan___3D5E1FD2] FOREIGN KEY([loan_id])
REFERENCES [dbo].[Loans] ([loan_id])
GO
ALTER TABLE [dbo].[Loan_Book] CHECK CONSTRAINT [FK__Loan_Book__loan___3D5E1FD2]
GO
ALTER TABLE [dbo].[Loan_User]  WITH CHECK ADD  CONSTRAINT [FK__Loan_User__loan___403A8C7D] FOREIGN KEY([loan_id])
REFERENCES [dbo].[Loans] ([loan_id])
GO
ALTER TABLE [dbo].[Loan_User] CHECK CONSTRAINT [FK__Loan_User__loan___403A8C7D]
GO
ALTER TABLE [dbo].[Loan_User]  WITH CHECK ADD  CONSTRAINT [FK__Loan_User__user___412EB0B6] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Loan_User] CHECK CONSTRAINT [FK__Loan_User__user___412EB0B6]
GO
USE [master]
GO
